<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cz.springbootMybatisDemo.mapper.DepartmentsMapper">
    <select id="queryStuByDept" resultType="com.cz.springbootMybatisDemo.entity.Students">
        SELECT st.id,st.name,st.dept_id,st.age,st.sex,st.height,st.login_date
        FROM tb_students_info st,tb_departments dp
        WHERE dp.dept_name=#{name} AND dp.dept_id=st.dept_id
    </select>

    <resultMap id="idName" type="com.cz.springbootMybatisDemo.entity.Students">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="queryStuByDept1" resultType="java.util.Map">
        SELECT st.id,st.name
        FROM tb_students_info st,tb_departments dp
        WHERE dp.dept_name=#{name} AND dp.dept_id=st.dept_id
        order by name;
    </select>

    <resultMap id="deptMap" type="com.cz.springbootMybatisDemo.entity.Departments">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="deptType" column="dept_type"/>
<!--        <collection property="students" column="id" javaType="ArrayList" ofType="com.cz.springbootMybatisDemo.entity.Students" select="com.cz.springbootMybatisDemo.mapper.StudentsMapper.findById"/>-->
    </resultMap>

    <select id="findById" resultMap="deptMap">
        SELECT dp.dept_id,dp.dept_name,dp.dept_type
        FROM tb_departments dp
        WHERE dept_id=#{deptId};
    </select>
    <select id="findByName" resultType="com.cz.springbootMybatisDemo.entity.Departments">
        SELECT *
        FROM tb_departments
        WHERE dept_name=#{deptName};
    </select>
    <select id="findByType" resultType="com.cz.springbootMybatisDemo.entity.Departments">
        SELECT *
        FROM tb_departments
        WHERE dept_type=#{deptType};
    </select>
</mapper>
